<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>TTSOUND-EVENTS</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link
      rel="icon"
      href="/img/favicon.ico"
      sizes="16x16 32x32"
      type="image/png"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Gp
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("S5l-_Z_Ak4nVyjAQT");
      })();
    </script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div
        class="container d-flex align-items-center justify-content-lg-between"
      >
        <!-- <h1 class="logo me-auto me-lg-0"><a href="index.html"><img src="assets/img/logo.png" alt=""><span>.</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html" class="logo me-auto me-lg-0"
          ><img src="/img/logo.png" alt="" class="img-fluid"
        /></a>

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li><a class="nav-link scrollto" href="#portfolio">Gallery</a></li>
            <li><a class="nav-link scrollto" href="#team">Team</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        <a href="booking.html" class="get-started-btn scrollto fw-bold"
          >BOOK US TODAY</a
        >
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container" data-aos="fade-up">
        <div
          class="row justify-content-center"
          data-aos="fade-up"
          data-aos-delay="150"
        >
          <div class="col-xl-6 col-lg-8">
            <h1>Take Two Sounds & Events<span>.</span></h1>
            <h2>Entertainment Guaranteed</h2>
          </div>
        </div>

        <div
          class="row gy-4 mt-5 justify-content-center"
          data-aos="zoom-in"
          data-aos-delay="250"
        >
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="bi bi-megaphone"></i>
              <h3><a href="PA.html">PA system for hire</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="bi bi-headset"></i>
              <h3><a href="DJ.html">DJs for hire</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="bi bi-mic"></i>
              <h3><a href="MCEE.html">MCEE for hire</a></h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div
              class="col-lg-6 order-1 order-lg-2"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <img
                src="/img/about2.jpg"
                class="img-fluid rounded"
                alt=""
              />
            </div>
            <div
              class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
              data-aos="fade-right"
              data-aos-delay="100"
            >
              <h3>We Are Your Entertainment Partner.</h3>
              <p>
                Take Two Sounds and Events is a leading entertainment company
                based in Nairobi specializing in providing audio-visual
                solutions to corporates and individuals. We specialize in:
              </p>
              <ul>
                <li>
                  <i class="ri-check-double-line"></i> PA Systems for hire.
                </li>
                <li><i class="ri-check-double-line"></i> DJs.</li>
                <li><i class="ri-check-double-line"></i> MCs.</li>
              </ul>
              <p>
                No matter how big or complex your project, we’ll guide you
                through the entire process. Our highly experienced team in
                Events Management Services will support and assist you every
                step of the way, ensuring the journey is smooth and
                anxiety-free. The outcome is an event you can be proud of.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div
              class="image col-lg-6 rounded"
              style="background-image: url('/img/mixer.jpg')"
              data-aos="fade-right"
            ></div>
            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
              <div
                class="icon-box mt-5 mt-lg-0"
                data-aos="zoom-in"
                data-aos-delay="150"
              >
                <i class="bx bx-target-lock"></i>
                <h4>Mission</h4>
                <p>
                  To be the most trusted, reputable provider and consultant of
                  sound services, and equipment across Kenya.
                </p>
              </div>
              <div
                class="icon-box mt-5"
                data-aos="zoom-in"
                data-aos-delay="150"
              >
                <i class="bx bxs-binoculars"></i>
                <h4>Vision</h4>
                <p>
                  Our vision is to create better sound experience for many
                  people to make events more memorable and fun
                </p>
              </div>
              <div
                class="icon-box mt-5"
                data-aos="zoom-in"
                data-aos-delay="150"
              >
                <i class="bx bx-diamond"></i>
                <h4>Core Value</h4>
                <p>
                  We treat our customers like Kings. We are honest, efficient,
                  timely, dependable, consistent, and loyal to our clients.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Features Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Services</h2>
            <p>Check our Services</p>
          </div>

          <div class="row">
            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-speaker"></i></div>
                <h4><a href="PA.html">PA System for hire</a></h4>
                <p>
                  We address quality sounds with quality sound systems. Public
                  Address (PA) FOR ALL EVENTS
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-headphone"></i></div>
                <h4><a href="DJ.html">DJs for hire</a></h4>
                <p>
                  We deliver outstanding event entertainment with warmth, humour
                  and professionalism details.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-microphone"></i></div>
                <h4>MCEE for hire</h4>
                <p>
                  We have an extremely talented MCEE who can get up on stage and
                  guide your event from start to finish.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Gallery</h2>
            <p>Gallery of our work</p>
          </div>
      
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">WEDDINGS</li>
                <li data-filter=".filter-card">CORPORATE EVENTS</li>
                <li data-filter=".filter-web">FAMILY EVENTS</li>
              </ul>
            </div>
          </div>
      
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <% gallery.forEach(item => { %>
              <div class="col-lg-4 col-md-6 portfolio-item <%= item.category %>">
                <div class="portfolio-wrap rounded">
                  <img src="/img/<%= item.filename %>" class="img-fluid" alt="" />
                  <div class="portfolio-info">
                    <h4><%= item.title %></h4>
                    <div class="portfolio-links">
                      <a href="/img/<%= item.filename %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="<%= item.title %>">
                        <i class="bx bx-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </section>
      
      <!-- End Portfolio Section -->
      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Team</h2>
            <p>Check our Team</p>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="/img/ceo.jpg" class="card-img" alt="" />
                  <div class="social">
                    <a
                      href="https://www.facebook.com/charles.gikonyo.1"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-facebook"></i
                    ></a>
                    <a
                      href="https://www.instagram.com/gikonyo.charles/"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-instagram"></i
                    ></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Charles Gikonyo</h4>
                  <span>Chief Executive Officer</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="/img/team1.jpg" class="card-img" alt="" />
                  <div class="social">
                    <a
                      href="https://www.facebook.com/antony.omari1"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-facebook"></i
                    ></a>
                    <a
                      href="https://www.instagram.com/epiqconceptsltd/"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-instagram"></i
                    ></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Omari Antony</h4>
                  <span>Videographer</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                  <img src="/img/team5.jpg" class="card-img" alt="" />
                  <div class="social">
                    <a
                      href="https://www.facebook.com/dragetwofiveflow"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-facebook"></i
                    ></a>
                    <a
                      href="https://www.instagram.com/d_rage25flow"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-instagram"></i
                    ></a>
                    <a
                      href="https://www.tiktok.com/@d_rage25flow"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bx bxl-tiktok"></i
                    ></a>
                    <a
                      href="https://www.youtube.com/@d-rage25flow57"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="fa-brands fa-youtube"></i
                    ></a>
                    <a
                      href="https://twitter.com/d_rage25flow"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="fa-brands fa-x-twitter"></i
                    ></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>DJ d rage</h4>
                  <span>Deejay</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img src="/img/shawn2.jpg" class="card-img" alt="" />
                  <div class="social">
                    <a
                      href="https://www.tiktok.com/@deejayshawnm60"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bx bxl-tiktok"></i
                    ></a>
                    <a
                      href="https://www.facebook.com/julius.irungu.737"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-facebook"></i
                    ></a>
                    <a
                      href="https://www.instagram.com/deejayshawnm/"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-instagram"></i
                    ></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>DJ Shawn</h4>
                  <span>Deejay</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img
                    src="/img/cropped_image.png"
                    class="card-img"
                    alt=""
                  />
                  <div class="social">
                    <a
                      href="https://twitter.com/GikonyoGlen"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="fa-brands fa-x-twitter"></i
                    ></a>
                    <a
                      href="https://www.facebook.com/glen.gikonyo.1/"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-facebook"></i
                    ></a>
                    <a
                      href="https://www.instagram.com/glengikonyo/"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-instagram"></i
                    ></a>
                    <a
                      href="https://www.linkedin.com/in/glen-gikonyo-141805234/"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-linkedin"></i
                    ></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Glen Nduru</h4>
                  <span>Sound Engineer</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img
                    src="/img/Nick_MCEE_CutOut 1.png"
                    class="card-img"
                    alt=""
                  />
                  <div class="social">
                    <a
                      href="https://twitter.com/GikonyoGlen"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="fa-brands fa-x-twitter"></i
                    ></a>
                    <a
                      href="https://www.facebook.com/glen.gikonyo.1/"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-facebook"></i
                    ></a>
                    <a
                      href="https://www.instagram.com/glengikonyo/"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-instagram"></i
                    ></a>
                    <a
                      href="https://www.linkedin.com/in/glen-gikonyo-141805234/"
                      target="_blank"
                      rel="noopener noreferrer"
                      ><i class="bi bi-linkedin"></i
                    ></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Nick</h4>
                  <span>MCEE</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->
      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients">
        <div class="container" data-aos="zoom-in">
          <div class="section-title">
            <h2>Clients</h2>
            <p>Our Clients</p>
          </div>
          <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img
                  src="/img/clients/tasso_audio.webp"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/img/clients/rubis.webp"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/img/clients/psc.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/img/clients/wck.png"
                  class="img-fluid"
                  alt=""
                  style="max-width: 100%;"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/img/clients/client-5.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/img/clients/client-6.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/img/clients/client-7.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/img/clients/client-8.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Clients Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <a href="index.html" class="logo me-auto me-lg-5"
                  ><img
                    src="/img/logo.png"
                    alt=""
                    class="img-fluid"
                    width="200"
                    height="200"
                /></a>
                <p>
                  QWCJ+MWR, Deliverance Rd, Nairobi <br />
                  <br /><br />
                  <strong>Phone:</strong> +254 726555054<br />
                  <strong>Email:</strong> info@ttsound-events.co.ke<br />
                </p>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#hero">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#about">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#services">Services</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#gallery">Gallery</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#team">Team</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#contact">Contact</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="MCEE.html">MCEE</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="PA.html">PA(Public Address) system</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="DJ.html">DJING</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>OUR SOCIALS</h4>
              <div class="social-links mt-3">
                <a
                  href="https://www.facebook.com/Take2Sound"
                  class="facebook"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><i class="bx bxl-facebook"></i
                ></a>
                <a
                  href="https://www.instagram.com/take2soundke/"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>TAKE TWO SOUNDS & EVENTS</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
          Designed by
          <a href="https://shorturl.at/qrGIN">PlainWave Technologies</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/contactForm.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
  </body>
</html>
